body{
    background-color: darkblue;
}

header{
    padding: 32px;
    text-align: center;
    color:darkgray;
}


.Loading{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

}